<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="css/main.css"> {% include head.html %}
</head>

<body>
    <div id='app'>
    <div class="container">
        <h1>
            <a href="./">{{ content }}</a>
        </h1>

        Do you feel itdependsdentist? Please, leave a <a class="github-button" href="https://github.com/itdependsmanifesto/itdependsmanifesto.github.io"
            data-show-count="true" aria-label="Star itdependsmanifesto/itdependsmanifesto.github.io on GitHub">Star</a>
    </div>
    </div>
</body>
{% include scripts.html %}
</html>
